:root {
--primary: #b65f28;
--secondary: #07077c;
}


label{

margin-left:4px;

}


h4{

color: var(white);
font-weight: bold;
font-size: 1rem;
width: 298px;
}


.categoriepanel, .prixpanel{

margin-left: 15px;
}

.categoriepanel{

margin-left: 10px;
}

.categ, .prix{

text-decoration: underline;
font-size: 1.2rem;
}

#quantity{

width: 65px;
}

#deletebt{

width: 100px;
}


#learnmorefilter{

background-color: #0d0d0e;
color: white;
padding: 1% 2% 2% 5%;
border-radius: 4px;
font-size: 10px;


}



@media screen and (max-width: 767px) {


.containerForm{


width: 160px;
height: 610px;
display: flex;
flex-wrap: wrap;
border-radius: 5px;
justify-content: center;
margin-top: 25%;
top: 185px;
border: solid 1px rgb(165, 161, 161);


}



label{

    margin-left:2px

}



.categoriepanel, .prixpanel{

    margin-left: 2px;
}



}



.show-filter .filterdisplayproducts::before {
transform: rotate(45deg);
}

.show-filter .filterdisplayproducts::after {
transform: rotate(-45deg);
}

.show-filter .filterdisplayproducts {
width: 10;
background: transparent;
}

.show-filter {
transform: translateY(0);
}



@media screen and (min-width: 896px) {






label{

    margin-left:2px

}



.categoriepanel, .prixpanel{

    margin-left: 2px;
}

}
