:root {
--primary: #b65f28;
--secondary: #07077c;
}

.navbar {
width: 100%;
min-height: 90px;
top: 0;
}

.navbar-bg{
background:var(--primary);
color: white;
height: 80px;
}

.navbar-bg .navbar_link{

color: #fff;
padding: 0 2rem 5 1em;

}

.navbar-bg .navbar_link:hover{

color: #fff;
}


.fixed {
position: fixed !important;
z-index: 9999;
}

#logomenucoverdesktop {
width: 60px;
height: 60px;
margin: 0px 0px 20px 20px;
}

.nav-link {
float: right;
display: flex;
color: black;
}

.navbar_link {
padding: 0 2rem 0 1em;
color: var(--primary);
text-decoration: none;
font-weight:300;
font-size: large;
margin-right: 12px;
}

#panier {
width: 35px;
cursor: pointer;
border-radius: 8px;
display: flex;
float: right;
margin-top: 0;
}

.navbar_burger {
visibility: hidden;
}

.nav-menu {
display: grid;
grid-template-columns: repeat(3, auto);
grid-gap: 10px;
list-style: none;
text-align: center;
width: 70vw;
justify-content: end;
margin-right: 2rem;
}

.nav-item {
display: flex;
align-items: center;
height: 80px;
margin-left: 150px;
}



.nav-links {
color: white;
text-decoration: none;
padding: 0.5rem 1rem;
display: flex;
float: right;
margin-left: 45%;

}

.fa-bars {
color: #fff;
}

.nav-links-mobile, .navbar-burger {
display: none ! important;
}

.menu-icon {
display: none;
}

@media screen and (max-width: 896px) {
.nav-links {
flex-direction: column;
justify-content: center;
position: fixed;
align-items: center;
left: 0;
right: -100vw;
bottom: 0;
width: 0;
height: 100%;
padding: 5rem;
background-color: var(--primary);
visibility: hidden;
transition: all 0.5s ease-out;
margin: auto;

}

#panier {
width: 35px;
cursor: pointer;
border-radius: 8px;
display: flex;
margin-top: 0;
}

.nav-links{

color: #000000;
}
.navbar_itemslideInDown-1, .navbar-itemslideInDown-2{

display:block;
}

.show-nav .nav-links {
right: 0;
width: 100vw;
visibility: visible;
padding: none !important;
}

.navbar_item::after {
content: "";
display: block;
margin: 0 auto;
width: 3vw;
height: 1px;
background: #ffffff;
}

.navbar_item:last-child::after {
display: none;
}

.navbar_link {
display: block;
padding: 3rem;
font-size: 5vw;
text-decoration: none;
color: white;
}


.navbar_link:hover {
color: rgb(0, 0, 0);
}

.burger-bar,
.burger-bar::before,
.burger-bar::after {
display: block;
width: 40px;
height: 3px;
position: relative;
border-radius: 3px;
background: #000000;
cursor: pointer;
transition: all 0.5s ease-in-out;
margin-right: 95px;
}

.navbar_burger:hover {
cursor: pointer;
}

.burger-bar {
margin-top: 1%;
}

.burger-bar::before,
.burger-bar::after {
content: "";
position: absolute;
left: 0;
}

.burger-bar::before {
transform: translateY(-12px);
}

.burger-bar::after {
transform: translateY(12px);
}

.show-nav .burger-bar::before {
transform: rotate(45deg);
}

.show-nav .burger-bar::after {
transform: rotate(-45deg);
}

.show-nav .burger-bar {
width: 10;
background: transparent;
}


.navbar-item {
transform: translateY(100vh);
}

.show-nav .navbar-item {
transform: translateY(0);
}




#logomenucovermobile {
width: 60px;
margin-top: 35%;
transition: none;
cursor: auto;
padding-bottom: 3rem;
}
}

@media screen and (min-width: 897px) {
#logomenucovermobile {
display: none;
}

.navbar a:hover {
color: var(black);
border-radius: 2px;
border: solid 2px;
font-size: 20px;
padding: auto;
margin-left: 10px;
}
}
